/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Costum css starts here */
/* starting with the skip links, making them apear only when focused and outlined for keybaord users */
a[href="#main-content"]{
position:absolute;
left:-999px;
}

a[href="#main-content"]:focus{
left:1rem;
top:1rem;
background:#000;
color:#fff;
padding:0.5rem;
}

.cta-btn:focus{
outline:3px solid #d69e3d;
}

/* Base styles */
body{
    font-family:'Karla', sans-serif;
    background:#f3f0e9;
    color:#000;
}

/* Typography */
h1,h2,h3,nav a{
    font-family:'Lato', sans-serif;
    text-transform: uppercase;
}

h1{
    font-size:2.027rem;
    font-weight: 900;
    padding-bottom: 1rem;
    line-height: 1.2;
}

h2{
    font-size:1.802rem;
    font-weight: bold;
}

h3{
    font-size:1.424rem;
    font-weight: bold;
    padding: 1rem;
}

p{
    font-size:1rem;
    line-height: 1.5;
}

/* Making this the default style for buttons */
.cta-btn{
    font-family:'Karla', sans-serif;
    display:inline-block;
    margin-top:1rem;
    padding:1rem 2rem;
    text-decoration:none;
    transition:all 0.3s ease;
    background-color: #fff;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
}

/* Making this the default style for the paragraph on top of all the h2s*/
.section-label{
    color:#d69e3d;
    text-transform:uppercase;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Making this the default style for all images */
img{
    max-width: 100%;
    height: auto;
}

/* Header/Navigation section*/
header{
    background: #000;
    text-align: center;
}

.logo img{
    width: 300px;
    margin: 0 auto 1rem auto;
    padding: 2rem;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 2rem;
}

.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}

.navbar a:hover{
    color: #d69e3d;
}

/* Hero/Banner section */
.hero {
  position: relative;
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  animation:fadeIn 1.5s ease;
}

.hero-content p{
    padding-bottom: 2rem;
}

.hero-content .cta-btn:hover{
    color: #fff;
    background-color: #966f2c;
    outline: 3px solid #fff;
}

/* Dark overlay on the Hero/Banner section*/
.image-container::before{
    content:"";
    position:absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.55);
}

/* Introduction section */
.intro{
    padding:1rem 1rem;
}

.intro p{
    padding-top: 5rem;
}

/* Keeps the first image on top */
.image-grid{
    grid-template-columns:1fr 1fr;
}

.image-grid img:first-child{
    grid-column: span 2;
    grid-row:auto;
}

/* Image grid in the introducation section*/
.image-grid{
    max-width:1200px;
    padding:1rem;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:2rem;
}

/* Features/Visit us section*/
.features{
    padding: 3rem 1rem;
    text-align:center;
}

.feature-lists{
    display:flex;
    flex-direction:column;
    gap:4rem;
    margin-top:3rem;
}

.feature img{
    max-width:30%;
    margin:0 auto 2rem auto;
}

.feature p{
    padding: 0 6rem;
    padding-bottom: 4rem;
}

/* Menu and Location CTA section */
/* Starting with the dark overlay on the image of this section*/
/* I had to force the image to always fill the container width. */
.cta-image-container img{
    max-width:100%;
    width:100%;
    height:auto;
    display:block;
}
/* The container is 100% width, but the image inside wasn't forced to stretch, so it stayed at its natural size. */
.cta-image-container {
  position: relative;
  width: 100%;
}

.cta-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

/* Aligning the text on the image*/
.menu-location-cta-container{
  position: relative;
  padding-bottom: 10%;
}

.cta-content-menu {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.cta-content-location {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

/* Styling the text in this section*/
.menu-location-cta-container h2{
    padding-bottom: 15%;
}

/* Styling the buttons */
.cta-content-menu .cta-btn:hover{
    color: #fff;
    background-color: #966f2c;
    outline: 3px solid #fff;
}

.cta-content-location .cta-btn{
    color: #fff;
    background-color: transparent;
    outline: 3px solid #fff;
}

.cta-content-location .cta-btn:hover{
    color: #000;
    background-color: #ffff;
    outline: none;
}

/* About us section*/
/* Mostly spacing styling */
.about{
    margin:auto;
    padding:2rem 1rem;
}

.about-content{
    margin-top: 1rem;
    margin-bottom: 4rem;
}

.about h2{
    padding-bottom: 1rem;
}

.about p{
    margin-bottom: 1rem;
}

/* Styling the button */
.about .cta-btn{
    color: #fff;
    background-color: #000;
}

.about .cta-btn:hover{
    background-color: #966f2c;
}

/* Testimonials section*/
/* Base styling */
.testimonials{
    background:#000;
    color:#fff;
    padding: 6rem 1rem;
}

.testimonial-list{
    display:flex;
    flex-direction:column;
    gap:2rem;
    margin-top:2rem;
}

blockquote{
    margin-bottom:0.5rem;
}

.customer{
    color: #d69e3d;
    text-transform: uppercase;
    font-weight: bold;
}

.testimonials h2{
    padding-bottom: 1rem;
}

/* Moving onto the dark overlay on the images */
.testimonials-image-container {
  position: relative;
}

.testimonials-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

/* Aligning the text */
 .testimonial{
  position: relative;
}

.testimonial-content {
  position: absolute;
  top: 85%;
  left: 20%;
  transform: translate(-20%, -20%);
  text-align: left;
}

/* Footer */
footer{
  text-align:center;
  background: #000;
  color:#fff;
  padding: 1rem;
  padding-bottom: 5rem;
}

/* Animation */
@keyframes fadeIn{
    from{
        opacity:0;
        transform:translate(-50%, -40%);
    }
    to{
        opacity:1;
        transform:translate(-50%, -50%);
    }
}

/* Tablet version starts here */
/* Base styling (the change infont-sizing)*/
@media (min-width:768px){
	h1{
	font-size:2.986rem;
	}
	h2{
	font-size:2.488rem;
	}
	h3{
	font-size:1.728rem;
	}
	p{
	font-size:1rem;
	}

/* Moving to Hero/Banner section */
.image-grid{
    margin:0 auto;
    padding:1rem;

    display:grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:1rem;
}

/* Large image on the left */
.image-grid img:first-child{
    grid-column: span 1;
    grid-row: span 2;
}

/* Ensure images scale nicely */
.image-grid img{
    width:100%;
    height: 100%;
    object-fit:cover;
    display:block;
}



}

/* Desktop */
/* Base styling */
@media (min-width:1100px){
	h1{
	font-size:3.815rem;
	}
	h2{
	font-size:3.052rem;
	}
	h3{
	font-size:1.953rem;
	}
	p{
	font-size:1rem;
	}
}